@font-face {
    font-family: 'Galmuri';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Galmuri11/Galmuri11-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Galmuri11/Galmuri11-Regular.woff') format('woff'),
}
@font-face {
    font-family: 'Galmuri_bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Galmuri11/Galmuri11-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Galmuri11/Galmuri11-Bold.woff') format('woff'),
}
* 
{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: 'Galmuri_bold';
}

.game {
    text-align: center;
    padding: 20px;
    bottom: #f0f0f0;
    min-height: 100vh;
}
h1 {
    color: #333;
    font-size: 2.5rem;
}
button {
    border: 3.1px solid #000;
    padding: 8px 8px;
    font-size: 17px;
    background: #2ed48c;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0 -20px 0;
    transition: 0.5s;
}
button:hover {
    background: #98dec0;
}
.card_grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
}
.win_message {
    width: 90%;
    position: fixed;
    top: 45%;
    left: 3%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
}
.card {
    width: 100px; height: 100px;
    perspective: 1000px;
    cursor: pointer;
}
.card div {
    width: 100%; height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: 0.5s;
}
.card .front {
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 85%;
    height: 85%;
    object-fit: cover; 
    border-radius: 10px;
  }
.turn_wrap {
    display: flex;
    text-align: right;
    justify-content: right;
    margin: 10px auto;
    width: 400px;
   
}
p {
     /* background-color: antiquewhite; */
    text-align: center;
    width: 60px;
    padding: 3px 2px;
    border-radius: 10px;
    border: 3.1px solid #000;
}

